{% extends 'layout.html' %}
{% block content %}
		<section id="list">
			<div class="demo-item">
				<div class="demo-block">
					<div class="ui-form-item ui-form-item-show ui-border-b">
                        <label for="#">数量</label>
                        <input value="1" tabindex="1" type="number" pattern="[0-9]">
                    </div>
					<div class="ui-form-item ui-form-item-radio ui-border-b">
                        <label class="ui-radio" for="radio">
                            <input name="radio" type="radio" checked>
                        </label>
                        <p>正常时间</p>
                    </div>
					<div class="ui-form-item ui-form-item-radio ui-border-b">
                        <label class="ui-radio" for="radio">
                            <input name="radio" type="radio">
                        </label>
                        <p>加班</p>
                    </div>
					<div class="ui-form-item ui-form-item-show ui-border-b">
                        <label>产品</label>
                        <div class="ui-select">
                            <select tabindex="2">
                                <option>2014</option>
                                <option selected="">2015</option>
                                <option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>
								<option>2016</option>

                            </select>
                        </div>
                    </div>
					<div class="ui-form-item ui-form-item-show ui-border-b">
                        <label for="#">单价</label>
                        <input value="1" tabindex="3" type="number" pattern="[0-9]">
                    </div>
				</div>
			</div>
		</section>
{% endblock %}