{% extends 'layout.html' %}
{% block content %}
    <section id="list">
        <div class="ui-btn-wrap">
            <a class="ui-btn-lg ui-btn-primary" href="/products/create">
                添加
            </a>
        </div>
        <table class="ui-table ui-border-tb">
            <thead>
            <th>产品名</th>
            <th>总价</th>
            <th>个数</th>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.unit_price }}</td>
                    <td>{{ product.unit }} {{ product.work_type_str }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </section>
{% endblock %}