<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>工资管理</title>
	<link rel="stylesheet" href="/static/css/frozen.css">
	{% block css %}
	<script src="/static/js/frozen.js"></script>
</head>

<body ontouchstart>
	<header class="ui-header ui-header-positive ui-border-b">
		工资管理
	</header>
	<footer class="ui-footer ui-footer-btn">
		<ul class="ui-tiled ui-border-t">
			<li data-href="#" class="ui-border-r">
				<div>今日工资</div>
			</li>
			<li data-href="#" class="ui-border-r">
				<div>人员管理</div>
			</li>
			<li data-href="#">
				<div>产品管理</div>
			</li>
		</ul>
	</footer>
	{% block content %}
	<!-- /.ui-container-->
	{% block script %}
	<script>
		$('.ui-list li,.ui-tiled li').click(function() {
			if ($(this).data('href')) {
				location.href = $(this).data('href');
			}
		});
		$('.ui-header .ui-btn').click(function() {
			location.href = 'index.html';
		});
	</script>
</body>

</html>
